version: 2.1
orbs:
  node: circleci/node@14.16.1
  codecov: codecov/codecov@1.1.5
jobs:
  build:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
        steps:
          - run: npm install
      - run: npm test -- --coverage --watchAll=false
      - codecov/upload:
          file: coverage/*.json
