version: 2.1
orbs:
  node: circleci/node@4.3
  codecov: codecov/codecov@1.1.5
jobs:
  build:
    context:
    executor:
      name: node/default
    steps:
      - checkout
      - run: npm install
      - run: npm test -- --coverage --watchAll=false
      - codecov/upload:
          file: coverage/*.json
          token: ${CODECOV_TOKEN}
